body {
    font-family: "Times";
}

.caption-image {
    padding-bottom: 1em;
}

li a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 20px;
}

li a:hover {
    color: #00BFFF;
}

ul {
    list-style-type: none;
    padding-top: 10px;
}

.left-off-canvas-menu {
    background-color: white;
}

h1 {
    color: black;
    font-family: 'Special Elite', serif;
    text-align: center;
}

p {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Special Elite', Times;
    line-height: 2em;
    text-align: justify;
}

p:first-letter {
    font-size: 200%;
    color: black;
    position: relative;
    vertical-align: middle;
}

blockquote {
    font-family: 'Special Elite', serif;
    text-align: center;
    border-right: none;
    border-left: none;
}

.aligned-images {
    display: block;
    margin: auto;
    max-width: 90%;
    min-height: 12em;
    border-radius: 100%;
}

#caption {
    font-family: 'Open Sans Condensed', 'Special Elite', serif;
}

hr {
    padding-top: 1em;
    padding-bottom: 1em;
}

#weather {
    text-align: center;
}

.article {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

p.article {
    font-family: Helvetica,serif !important;
}
