body {
  font-family: "Times";
}

h1 {
  color: black;
  font-family: 'Special Elite', serif;
  text-align: center;
}

p {
  text-align: left;
  text-justify: auto;
  font-family: 'Special Elite', Times;
}

p::first-letter {
  font-size: 200%;
  color: black;
}

.row {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

blockquote {
  font-family: 'Special Elite', serif;
  text-align: center;
  border-right: none;
  border-left: none;
}

.aligned-images{
  max-width: 100%;
  min-height: 12em;
  border-radius: 50%;
}