body {
  background-image: url('http://pxwallpaper.com/wp-content/uploads/2014/01/Strawberry_Wallpaper_by_Marsapan.jpg');
}

h1 {
  font-family: Helvetica;
  text-align: center;
  padding-top: 20px;
}

p {
  padding: 20px 30px 20px 30px;
}

.center {
  background: white;
}